[flake8]
ignore =
exclude =
    *.pyc,
    .git,
    __pycache__,
    *.conf,
    *.md,
    config*
    *settings*
    gold/vulpo/*

max-line-length=125
max-complexity=16
format=pylint
show_source = True
statistics = True
count = True